@use "~/assets/scss/functions.scss" as *;
@use "~/assets/scss/mixins.scss" as *;

.Trouble {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: viewportSize(20) 0;

  h1 {
    @include fontStyling("Roboto", 20, 700);
    color: getColor("old-silver");
    text-align: center;
  }

  button {
    @include fontStyling("Roboto", 14, 700);
    color: getColor("light");
    padding: viewportSize(8) viewportSize(12);
    border-radius: viewportSize(12);
    margin-top: viewportSize(12);
    background-color: getColor("celestial-blue");
  }
}
