@use "~/assets/scss/functions.scss" as *;
@use "~/assets/scss/mixins.scss" as *;

.Card {
  background-color: getColor("light");
  border-radius: viewportSize(14);
  padding: viewportSize(19) viewportSize(28) viewportSize(72);
  box-shadow: 0 viewportSize(4) viewportSize(4) 0 getColor("azureish");
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid viewportSize(1) getColor("alice");
    padding-bottom: viewportSize(21);
  }

  &__header h2 {
    @include fontStyling("Roboto", 17, 600);
  }
}
