@use "~/assets/scss/functions.scss" as *;
@use "~/assets/scss/mixins.scss" as *;

.Counter {
  display: flex;
  align-items: center;
  gap: viewportSize(14);

  &__btn svg {
    width: viewportSize(44);
    aspect-ratio: 1/2;
    fill: getColor("bleu-de-france");
  }

  &__btn:disabled {
    cursor: not-allowed;
  }

  &__btn:disabled svg {
    fill: getColor("chinese-white");
  }

  &__input {
    @include fontStyling("Roboto", 37);
    width: viewportSize(106);
    height: viewportSize(55);
    text-align: center;
    border-radius: viewportSize(9);
    border: solid viewportSize(0.9) getColor("celestial-blue");
  }
}
