@use "variables.scss" as *;
@use "functions.scss" as *;
@use "mixins.scss" as *;

:root {
  --viewport-width: 100vw;
  --viewport-height: 100vh;
  --base-viewport-width: 375;

  @each $key, $value in $colors {
    --color-#{$key}: #{extractRGB($value)};
  }

  @include tablet-screen {
    --base-viewport-width: 768;
  }

  @include desktop-screen {
    --base-viewport-width: 1440;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
img,
svg {
  display: block;
}

svg {
  vertical-align: middle;
}

button,
input {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
}

ol,
ul {
  list-style-type: none;
}
