@use "_variables.scss" as *;
@use "_functions.scss" as *;
@use "_mixins.scss" as *;

:root {
  --viewport-width: 100vw;
  --viewport-height: 100vh;
  --base-viewport-width: 375;

  @each $key, $value in $colors {
    --color-#{$key}: #{extractRGB($value)};
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
img,
svg {
  display: block;
}

svg {
  vertical-align: middle;
}

button,
input {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
}

.CustomerLayout {
  width: var(--viewport-width);
  min-height: var(--viewport-height);
  background-color: getColor("bubbles");
  position: relative;

  @include desktop-screen {
    margin: 0 auto;
    max-width: viewportSize(375);
  }

  &__back {
    position: absolute;
    left: viewportSize(6);
    top: viewportSize(32);
    z-index: 1;

    svg {
      width: viewportSize(59);
      aspect-ratio: 1/1;
    }
  }
}
