@use "~/assets/scss/functions.scss" as *;
@use "~/assets/scss/mixins.scss" as *;

.AdminLayout {
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  main {
    flex: 1;
    background-color: getColor("bubbles");
    padding-bottom: viewportSize(204);
  }

  @include desktop-screen {
    flex-direction: row;
  }
}

.Header {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 viewportSize(26);
    height: viewportSize(97);
  }

  &__brand {
    display: block;

    svg {
      width: viewportSize(47);
    }
  }

  &__title {
    @include fontStyling("Roboto", 41, 700);
    display: none;
    color: getColor("charcoal");
    letter-spacing: viewportSize(4);
  }

  &__user {
    display: none;
    align-items: center;
    margin-left: auto;

    svg {
      width: viewportSize(39);
      aspect-ratio: 1/1;
      margin-right: viewportSize(9);
    }

    a {
      @include fontStyling("Roboto", 25, 500);
      text-decoration: underline;
      color: getColor("vivid-cerulean");
    }
  }

  @include desktop-screen {
    &__brand {
      display: none;
    }

    &__user {
      display: flex;
    }

    &__title {
      display: block;
    }
  }
}
