@use "~/assets/scss/_functions.scss" as *;
@use "~/assets/scss/mixins.scss" as *;

.CustomerPage {
  padding: viewportSize(36);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    width: viewportSize(567);
    height: viewportSize(404);
    position: absolute;
    left: 50%;
    z-index: 0;
    top: viewportSize(-100);
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: getColor("pastel-red");
  }
}

.SectionTitle {
  @include fontStyling("Roboto", 16, 700);
  letter-spacing: viewportSize(1);
  color: getColor("celestial-blue");
  margin-bottom: viewportSize(12);
}

.Information {
  margin-top: viewportSize(78);
  margin-bottom: viewportSize(40);
  position: relative;
  z-index: 1;

  &__name {
    @include fontStyling("Roboto", 21, 500);
    color: getColor("light");
  }

  &__card {
    margin-top: viewportSize(16);
  }
}

.InformationCard {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: self-end;
  justify-content: end;
  height: viewportSize(167);
  padding: viewportSize(16) viewportSize(17);
  background-color: getColor("light");
  background-image: linear-gradient(
    -62deg,
    transparent 0%,
    getColor("water", 0.42) 100%
  );
  border-radius: viewportSize(10);
  box-shadow: 0 viewportSize(4) viewportSize(4) 0 getColor("azureish");

  p {
    @include fontStyling("Roboto", 18);
    color: getColor("black-space");
    text-align: right;
  }

  h2 {
    @include fontStyling("Roboto", 36, 700);
    text-align: right;
    color: getColor("vivid-cerulean");
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }

  &::before {
    width: viewportSize(139);
    top: viewportSize(-50);
    left: viewportSize(-50);
    background-color: getColor("vivid-cerulean");
  }

  &::after {
    width: viewportSize(29);
    top: viewportSize(24);
    left: viewportSize(100);
    background-color: getColor("pastel-red");
  }
}

.PreviousOrder {
  margin-bottom: viewportSize(39);

  &__card {
    display: flex;
  }
}

.Previous {
  &__detail {
    display: flex;
    align-items: center;
    flex: 1;
    padding: viewportSize(11) viewportSize(8);
    border-radius: viewportSize(5) 0 0 viewportSize(5);
    background-color: getColor("light");

    img {
      width: viewportSize(67);
      height: viewportSize(73);
    }
  }

  &__information {
    margin-left: viewportSize(6);
    margin-right: viewportSize(8);

    label,
    span,
    strong {
      display: block;
      letter-spacing: viewportSize(1);
    }

    label {
      @include fontStyling("Roboto", 15, 500);
      color: getColor("cavernous");
      max-width: viewportSize(122);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    span {
      @include fontStyling("Roboto", 9);
      color: getColor("black-space");
      margin-top: viewportSize(15);
    }

    strong {
      @include fontStyling("Roboto", 14, 700);
      color: getColor("vivid-cerulean");
    }
  }

  &__icon {
    width: viewportSize(90);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 viewportSize(5) viewportSize(5) 0;
    background: linear-gradient(
      140.71deg,
      #099def 7.69%,
      rgba(9, 157, 239, 0.42) 95%
    );

    svg {
      width: viewportSize(46);
      aspect-ratio: 1/1;
    }

    span {
      @include fontStyling("Roboto", 10, 500);
      display: block;
      margin-top: viewportSize(11);
      color: getColor("light");
      letter-spacing: viewportSize(1);
    }
  }
}

.MostOrdered {
  margin-bottom: viewportSize(48);
}

.LatestProduct {
  margin-bottom: viewportSize(41);
}
