@use "~/assets/scss/functions.scss" as *;
@use "~/assets/scss/mixins.scss" as *;

.Chart {
  display: flex;
  justify-content: center;
  height: viewportSize(225);
  gap: viewportSize(13);
  margin-top: viewportSize(54);

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  &__wrapper:hover {
    .Chart__bar {
      background-color: getColor("steel-blue");
    }

    .Chart__label {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  &__bar {
    width: viewportSize(20);
    background-color: getColor("pastel-blue");
    height: viewportSize(200);
    border-radius: viewportSize(5);
    position: relative;
    z-index: 1;
    margin: 0 0 viewportSize(11) 0;
  }

  p {
    @include fontStyling("Roboto", 10);
    color: getColor("pastel-blue");
    text-align: center;
  }

  &__label {
    opacity: 0;
    position: absolute;
    left: 50%;
    white-space: nowrap;
    top: viewportSize(-24);
    transform: translate(-50%, 100%);
    transition: transform 150ms ease-in-out;
  }

  @include desktop-screen {
    gap: viewportSize(63);
    margin-top: viewportSize(65);

    &__bar {
      width: viewportSize(68);
    }

    p {
      @include fontStyling("Roboto", 13);
    }
  }
}
